beautifulsoup4
bs4==0.0.1
CacheControl
cachetools
certifi==2019.11.28
chardet==3.0.4
Django
django-webpack-loader
gunicorn
httplib2==0.17.0
idna
isodate==0.6.0
jsonfield
msgpack
nltk==3.4.5
oauth2client==4.1.3
oauthlib==3.1.0
protobuf
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules
pycodestyle==2.5.0
PyJWT==1.7.1
pytz==2019.3
requests[security]
requests-oauthlib==1.3.0
rsa==4.0
six==1.14.0
soupsieve
sqlparse
uritemplate
urllib3==1.25.8
channels
channels_redis
# ptvsd==4.3.2
google-api-python-client==1.8.0
lxml==4.5.0
celery
redis==3.4.1
graphene-django