{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>インドネシア語辞典ー管理画面</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body>
{% if user.is_anonymous %}
    <form action="" method="POST">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg btn-block">ログイン</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </form>
{% else %}
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <script src="https://www.youtube.com/iframe_api"></script>
    <div id="app">
        <app></app>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'application' %}
{% endif %}
</body>

</html>