aioredis
amqp
aniso8601
appdirs
asgiref
async-timeout
attrs
autobahn
Automat
beautifulsoup4
billiard
black
bs4
CacheControl
cachetools
celery
certifi
cffi
channels
channels-redis
chardet
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
daphne
Django==3.2.12
django-webpack-loader==0.7.0
djangorestframework
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphene-django==2.15.0
graphql-core
graphql-relay
gunicorn
hiredis
httplib2
hyperlink
idna
incremental
isodate
jsonfield
kombu
lxml
msgpack
mypy-extensions
nltk
oauth2client
oauthlib
pathspec
promise
prompt-toolkit
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyHamcrest
PyJWT
pyOpenSSL
pytz
redis
regex
requests
requests-oauthlib
rsa
Rx
service-identity
singledispatch
six
soupsieve
sqlparse
toml
Twisted
txaio
typed-ast
typing-extensions
uritemplate
urllib3
vine
wcwidth
zope.interface
